.section-2{
    padding-top: 100px;
    padding-bottom: 80px;
}

.section-2 img{
    max-width: 540px;
}

.card-div,.right{
    flex: 0 0 50%;
    min-width: 200px;
    position: relative;
}

.section-2 .section-title-2 {
    padding-bottom: 120px;
}

.section-2-card{
    margin-bottom: 120px;
    background-image: url('http://d1qgh7vfxb2rk6.cloudfront.net/home/section-2/right-bg.png');
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: contain;
}

div.section-2-card:nth-child(even) { 
    flex-direction: row-reverse;
    background-image: url('http://d1qgh7vfxb2rk6.cloudfront.net/home/section-2/left-bg.png');
    background-position-x: left;
}

.card-details{
    justify-content: center;
}

.card-details p{
    font-size: 0.875rem;
    line-height: 1.57;
    padding-bottom: 30px;
    text-align: left
}

.card-details .section-title-2{
    text-align: start;
    font-size: 1.5rem;
    line-height: 1.4;
    letter-spacing: 0.5px;
    padding-bottom: 12.6px;
}

.section-2 .pattern-right {
    position: absolute;
    left: -90px;
    bottom: -116px;
    z-index: -1;
}



@media  (max-width: 992px) {   

    .section-2{
        padding-bottom: 50px!important;
    }

    .section-2> .section-title-2 {
        padding-bottom: 50px!important  ;
    }

    .section-2-card {
        margin-bottom: 50px!important;
        flex-wrap: wrap;
    }

    .left,.right{
        flex: 0 0 100%!important
    }

    /* .section-2-card{
        background-image: unset

    } */
}